<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <span th:if="${loginError != NULL}">
        <h4>아이디 또는 비밀번호를 확인해주세요.</h4>
    </span>
    <form class="form-horizontal" action="/" th:action th:object="${user}" method="post">
        <div>
            <label for="email">로그인 ID</label>
            <input type="text" id="email" name = "email" class="form-control">

        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <hr class="my-4">

        <button type="submit" class="w-100 btn btn-primary btn-lg">로그인</button>
    </form>

        <button class="w-100 btn btn-info btn-lg"
                th:onclick="|location.href='@{/join}'|"
                type="button">회원가입</button>
        <hr class="my-4">

</div>
</body>

</html>
